html{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}
header{
  position: fixed;
  border-bottom: 1px solid seashell;
  display: flex;
  width: 100%;
  z-index: 1;
  align-items: center;
  height: 69px;
  padding: 0 10px;
}
.flex-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.img-logo{
  float: left;
  padding-left: 10px;
}
.nav{
  display: inline-block;
  align-items: flex-end;
  padding: 10px 30px;
  float: right;
}
span{
  padding:20px 10px;
}
.header-container{
  overflow: hidden;
}
