html{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}
body{
  margin-top: 0px;
}
header{
  position: fixed;
  border-bottom: 1px solid seashell;
  display: flex;
  width: 100%;
  z-index: 1;
  align-items: center;
  height: 69px;
  padding: 0 10px;
}
.flex-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: black;
}
.img-logo{
  float: left;
  padding-top:10px;
  padding-left: 10px;
  height: 50px;
  }
.nav{
  display: inline-block;
  align-items: flex-end;
  padding: 20px 30px;
  float: right;
}
.navigator{
  padding:20px 10px;
}
.header-container{
  overflow: hidden;
}
.mission{
  padding-top: 70px;
  background-image: url(C:/Users/cristina.babonea/PROJECTS/TeaCozy/resources/images/img-mission-background.jpg);
  height: 700px;
  display: flex;
  align-items: center;
  width: 1200px;
  flex-wrap: wrap;
  justify-content: center
}
.mission-text{
  background-color: black;
  width: 1200px;
  padding-bottom: 20px;
  height: 130px;
}
#flex-container{
  flex-wrap: wrap;
  justify-content: center
  display: flex;
  padding-top: 70px;
  margin-left:350px;
}
#store{
  padding-top: 40px;
}
.flex-container-items{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1200px;
  padding-left: 350px;
}
.item {
  height: 200px;
  margin: 10px;
  display: block;
}
p {
  text-align: center;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
.location{
  background-image: url(C:/Users/cristina.babonea/PROJECTS/TeaCozy/resources/images/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
  display: flex-container-items;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  margin-left: 350px;
  margin-top: 100px;
  flex-direction: column;
  flex-basis: 280px;
}
.box{
  width: 300px;
  background-color: black;
  opacity: 1;
  display: inline-block;
  padding-bottom: 20px;
}
.boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
  
}
